@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e5e7eb; /* gray-200 */
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* PDA Specific optimization for no bounce/scroll outside app */
html, body {
  overflow: hidden;
  height: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
